* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.top{
  height: 768px;
  background: linear-gradient(0deg, #EBF3FB 8.84%, 
  rgba(152, 195, 232, 0) 31.12%);
}
body {
  font-family: sans-serif;
}
.par {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  font-weight: normal;
  letter-spacing: 0.05em;
  opacity: 0.6;
}
.par_project {
  width: 75%;
  margin: 32px auto 64px;
  color:#222;
  opacity: 1;
  text-align: center;
}
.top__info{
  margin-top: 115px;
  flex-grow: 1;
  background-image: url(img/illustration.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.top_box{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top__info__heading {
  font-size: 64px;
  color: #1f3f68;
  max-width: 510px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  font-weight: 300;
}
.top__button{
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}
.heading2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}
.heading3 {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
}
.heading__card {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
  box-sizing: border-box;
  font-weight: 400;
}
.inp {
  border: 1px solid#356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}
.butt {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 117, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 42px;
}
.top__info__par {
  width: 425px;
}
.card {
  width: 359px;
  list-style: none;
  padding: 44px 32px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card__img{
  align-self: center;
  margin-bottom: 51px;
}
.medium__infocard {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 64px;
}
.medium__project{
  position: relative;
}
.project__img{
 width: 100%;
}
.project__img__small{
  width: 100%;
}
.project__parent{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.project__child{
  position: relative;
}
.project__text{
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}
.project__text__small{
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 32px;
  left: 32px;
}
.footer{
  background: #316099;
  margin-top: 112px;
  height: 660px;
  display: flex;
  flex-direction: column;
}
.footer__contacts {
  display: flex;
  justify-content:space-around;
  margin-top:64px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 64px;
}
.Footer__card{
  width: 315px;
}
.footer__par{
 color: #FFFFFF;
 margin-top: 32px;
 margin-bottom: 95px;
 width: 495px;
}
.footer__block {
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}
.footer__block__left{
  margin-top: 91px;
  margin-left: 115px;
  align-self: center;
}
.footer__block__right{
  margin-top: 165px;
  margin-left: 115px;
}
.head__foot__left {
  width: 340px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
}
.contact__medium {
  display: flex;
  justify-content: space-between;
}
.contact_info {
  flex-basis: 40%;
}
.contact__form {
  flex-basis: 50%;
}
.medium{
  margin-top: 64px;
}
.card__link{
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}
.footer__rights{
  margin-top:  70px;
}
.footer__button{
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #5A98D0;
box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
border-radius: 10px;
padding: 15px 80px;
display: inline-block;
text-decoration: none;
}
.contact__main{
  background-image: url(img/bacground_img_cont.png);
  background-position:center;
  background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%); 
  background-repeat: no-repeat;
  width: 100%;
  top: 130px;
  margin-bottom: 120px ;
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  height: 480px;
}
.heading__contact__main{
  margin-bottom: 16px;

}
.contact__main__par{
 font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
}
