* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.top{
  min-height: 768px;
  background: linear-gradient(0deg, #EBF3FB 8.84%, 
  rgba(152, 195, 232, 0) 31.12%);
}
body {
  font-family: sans-serif;
}
.par {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  font-weight: normal;
  letter-spacing: 0.05em;
  opacity: 0.6;
}
.par_project {
  width: 75%;
  margin: 32px auto 64px;
  color:#222;
  opacity: 1;
  text-align: center;
}
.top__info{
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(img/illustration.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 44%;
}
.top_box{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top__info__heading {
  font-size: 64px;
  color: #1f3f68;
  max-width: 510px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  font-weight: 300;
}
.top__button{
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}
.heading2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}
.heading3 {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
}
.heading__card {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
  box-sizing: border-box;
  font-weight: 400;
}
.inp {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}
.butt {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 117, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 42px;
}
.top__info__par {
  max-width: 425px;
}
.card {
  width: 359px;
  list-style: none;
  padding: 44px 32px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card__img{
  align-self: center;
  margin-bottom: 51px;
}
.medium__infocard {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 64px;
}
.medium__project{
  position: relative;
}
.project__img{
 width: 100%;
}
.project__img__small{
  width: 100%;
}
.project__parent{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.project__child{
  position: relative;
}
.project__text{
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}
.project__text__small{
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 32px;
  left: 32px;
}
.footer{
  background: #316099;
  margin-top: 112px;
  padding-top: 91px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
}
.footer__contacts {
  display: flex;
  justify-content:space-between;
  margin-top:64px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}
.footer__card{
  margin-right: 32px;
  flex-grow: 1;
  flex-basis: 33.3333%;
}
.footer__par{
 color: #FFFFFF;
 max-width: 495px;
}
.footer__block {
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;
  align-items: center;
}
.head__foot__left {
  max-width: 340px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 32px;
}
.contact__medium {
  display: flex;
  justify-content: space-between;
}
.contact_info {
  flex-basis: 40%;
}
.contact__form {
  flex-basis: 50%;
}
.medium{
  margin-top: 64px;
}
.card__link{
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}
.footer__rights{
  margin-top: 64px;
}
.footer__button{
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  padding: 15px 80px;
  display: inline-block;
  text-decoration: none;
}
.contact__main{
  background-image: url(img/bacground_img_cont.png);
  background-position:center;
  background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%); 
  background-repeat: no-repeat;
  width: 100%;
  top: 130px;
  margin-bottom: 120px ;
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  height: 480px;
}
.heading__contact__main{
  margin-bottom: 16px;
}
.contact__main__par{
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

/*        1100 px      */

@media (max-width: 1100px) {
  .container{
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__info{
    background-position: right bottom;
  }
  .medium__infocard{
    flex-direction: column;
    align-items: center;
  }
  .card{
    margin-bottom: 32px;
  }
  .project__child{
    width: 49%;
  }
}

/*       768 px        */

@media (max-width: 768px) and (min-width:377px) {
  .container{
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__info{
    background-position: right bottom;
  }
  .medium__infocard{
    flex-direction: column;
    align-items: center;
  }
  .card{
    margin-bottom: 32px;
  }
  .project__child{
    max-width: 49%;
  }
  .par_project{
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  .project__text__small{
    left: 16px;
    font-size: 28px
  }
  .head__block__left{
    max-width: 336px;
  }
  .footer__par{
    max-width: 336px;
  }
  .footer__contacts{
    flex-direction: column;
  }
  .footer__button{
    padding: 10px 30px;
    margin-left: 51px;
  }
  .footer__card{
    margin-bottom: 25px;
  }
  .card__span{
    padding-left: 45px;
    display: block;
  }
}

/*     376 px      */

@media (max-width: 376px) {
  .top {
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }
  .menu{
    padding-top: 24px;
  }
  .top__info{
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
  }
  .top__button {
    font-size: 12px;
    padding: 5px 13px;
    margin-top: 32px;
  }
  .top__info__heading {
    max-width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .top__info__par{
    max-width: 100%;
    text-align: center;
  }
  .top__button{
    font-size: 12px;
    line-height: 26px;
    padding: 0x 8px;
  }
  .heading3{
    font-size: 24px;
    line-height: 28px;
  }
  .medium{
    padding-top: 20px;
    margin-top: 20px;
  }
  .medium__infocard{
    padding-top: 32px;
    margin-top: 0;
    margin-bottom: 32px;
  }
  .card{
    width: 100%;
    padding-bottom: 22px;
    padding-top: 22px;
  }
  .card__link{
    margin-top: 25px;
  }
  .medium__footer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .par_project{
    width: 100%;
  }
  .project__text{
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }
  .project__text__small{
    left: 16px;
  }
  .project__parent{
    flex-direction: column;
    margin-top: 16px;
    align-items: center;
    width: 100%;
  }
  .project__child{
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .project__img__small{
    width: 100%;
    padding: 0px;
    margin-top: 16px;
  }
  .footer__block{
    flex-direction: column;
    align-self: center;
    text-align: center;
    padding-bottom: 40px;
  }
  .head__foot__left{
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
  }
  .footer__par{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
    text-align: center;
  }
  .footer__rights{
    align-self: center;
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
  }
  .footer__button{
    margin-left: 0;
    margin-top: 40px;
    padding: 9px 17px;
  }
  .footer{
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 40px;
  }
  .card__span{
    margin-left: 20px;
    display: block;
    padding: 0;
    padding-bottom: 17px;
  }
  .footer__contacts{
    flex-direction: column;
    margin-top: 35px;
  }
  .project__text__small{
    font-size: 16px;
    line-height: 19px;
  }
}
